<div class="Container">
  <div class="row">
    <div class="col-md-10 offset-md-9">
      <a>Ordenar por: </a>
      <select class="btn btn-checkbox" name="miselect" [(ngModel)]="seleccionado" (ngModelChange)="validarSeleccion()">
        <option [value]="item" *ngFor="let item of Order">{{ item }}</option>
      </select>
    </div>
    <div class="row">
      <div class="col-md-2" style="position: relative; left: 5vh">
        <h4>Filtrar por</h4>
        <div class="filterbox">
          <h5>Categoria</h5>
          <div class="form-check" *ngFor="let category of lstcategorys">
            <input type="radio" class="form-check-input" (click)="selecionarCategory(category.cod_category)"
              id="{{ category.cod_category }}" name="category" />
            <label class="form-check-label" for="typeCategory">{{
              category.name
              }}</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" (click)="selecionarCategory('-1')" id="-1" name="category" />
            <label class="form-check-label" for="typeCategory">Mostrar todo</label>
          </div>
        </div>

        <div class="filterbox">
          <h5>Precio</h5>

          <div class="form-check" *ngFor="let priceTemp of lstPrice">
            <input type="radio" class="form-check-input" (click)="selecionarPrice(priceTemp)" id="typePrice"
              name="typePrice" />
            <div *ngIf="equals(priceTemp, '-1') === true; else templateQuantity">
              <label class="form-check-label" for="typePrice">Mostrar todo</label>
            </div>
            <ng-template #templateQuantity>
              <label class="form-check-label" for="typePrice">Menor a {{ priceTemp }}</label>
            </ng-template>
          </div>
        </div>

        <div class="filterbox">
          <h5>Cantidad</h5>
          <div class="form-check" *ngFor="let quantityT of lstquantity">
            <input type="radio" class="form-check-input" (click)="selecionarquantity(quantityT)" id="typeQuantity"
              name="typeQuantity" />
            <div *ngIf="equals(quantityT, '-1') === true; else templateQuantity">
              <label class="form-check-label" for="typeQuantity">Mostrar todo</label>
            </div>
            <ng-template #templateQuantity>
              <label class="form-check-label" for="typeQuantity">Menor a {{ quantityT }}</label>
            </ng-template>
          </div>
        </div>

        <div class="filterbox">
          <h5>Más</h5>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="more" name="more" />
            <label class="form-check-label" for="more">Complementos</label>
          </div>

          <div class="form-check">
            <input type="radio" class="form-check-input" id="moreAll" name="more" />
            <label class="form-check-label" for="moreAll">Mostrar todo</label>
          </div>
        </div>

        <div>
          <br />
          <button style="text-align: center; position: relative; left: 2vh" (click)="Filtrar()">
            Aplicar Filtrado
          </button>
        </div>
      </div>

      <div class="col-md-10">
        <div class="container card-Product">
          <app-tarjeta-producto [producto]="producto" *ngFor="let producto of productos">
          </app-tarjeta-producto>
        </div>
      </div>
    </div>
  </div>
</div>
