<div class="register">
    <form class="custom-form" method="post">
      <h1>Registrar</h1>
      <select name="miselect" [(ngModel)]="seleccionado" (ngModelChange)="validarSeleccion()">
      <option [value]="item" *ngFor="let item of users">{{item}}</option>
      </select>
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        required="required"
      />
      <input
        type="text"
        [(ngModel)]="nombre"
        name="nombre"
        placeholder="Nombre"
        required="required"
      />
      <input
        type="text"
        [(ngModel)]="apellidos"
        name="apellidos"
        placeholder="Apellidos"
        required="required"
      />
      <input *ngIf = "seleccionNum!=4"
        type="text"
        [(ngModel)]="cedula"
        name="cedula"
        placeholder="Cédula"
        required="required"
      />
      
      <input *ngIf = "seleccionNum==2"
        type="text"
        [(ngModel)]="celular"
        name="celular"
        placeholder="Celular"
        required="required"
      />
      <input *ngIf = "seleccionNum==2 || seleccionNum == 3"
        type="text"
        [(ngModel)]="direccion"
        name="direccion"
        placeholder="Direccion"
        required="required"
      />
      <input *ngIf = "seleccionNum==2"
      type="text"
      [(ngModel)]="descripcion"
      name="descripcion"
      placeholder="Descripcion"
      required="required"
    />
    <input *ngIf = "seleccionNum==3"
    type="text"
    [(ngModel)]="licencia"
    name="licencia"
    placeholder="Licencia"
    required="required"
  />
  <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Contraseña"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="confirmPassword"
        name="password"
        placeholder="Repetir contraseña"
        required="required"
      />
      <button type="submit" (click)="register()">Register</button>
    </form>
  </div>