<div class="container">

    <form class="custom-form-add-product" method="post">
        <div class="row align-items-start">

            <div class="col">
                <h1>Productos en lista</h1>
                <hr>
                <p>No existen productos en lista</p>
            </div>
            <div class="col">
                <h1>Añadir producto</h1>
                <hr>
                
                <input type="text" [(ngModel)]="producto.name" name="nompreProducto" placeholder="Nombre del producto"
                    required="required" />
                <input type="text" [(ngModel)]="producto.price" name="precio" placeholder="Precio del producto por kilo"
                    required="required" />
                <input type="text" [(ngModel)]="producto.quanty" name="cantidadKilos"
                    placeholder="Cantidad de producto en kilogramos" required="required" />
                <select name="categoria" [(ngModel)]="producto.category">
                    <option  [value]="item" *ngFor="let item of categories">{{item.name}}</option>
                </select>

                <input type="text" [(ngModel)]="producto.references.cod_ref" name="cod_referencia" placeholder="Código de referencia" required="required" />
                <input type="text" [(ngModel)]="producto.references.name" name="variedad" placeholder="Variedad" required="required" />
                <input type="date" [(ngModel)]="producto.references.entry_date" name="FechaCosecha" placeholder="Fecha de cosecha"
                    required="required" />
                <input type="date" [(ngModel)]="producto.references.expiration_date" name="fechaExpiracion"
                    placeholder="Fecha de expiración" required="required" />
                <input type="text" [(ngModel)]="producto.despcrition" name="descripcion" placeholder="Descripcion"
                    required="required" />
                <input type="file"  multiple>
                <div class="row align-items-start">
                    <div class="col">
                        <button type="submit" (click)="agregarProducto()">Añadir</button>
                    </div>
                    <div class="col">
                        <button type="submit">Cancelar</button>
                    </div>
                </div>


            </div>
        </div>
    </form>


</div>