<div class="container">

    <form class="custom-form-add-product mt-5" method="post">
        <div class="row align-items-start">
            <div class="col">
               
                <h3>Añadir producto</h3>
                <hr>
                <label for="">Nombre del producto</label>
                <input type="text" [(ngModel)]="producto.name" name="nompreProducto" placeholder="Nombre del producto"
                    required="required" />

                <label for="">Precio</label>
                <input type="text" [(ngModel)]="producto.price" name="precio" placeholder="Precio del producto por kilo"
                    required="required" />

                <label for="">Cantidad de kilos</label>
                <input type="text" [(ngModel)]="producto.quantity" name="cantidadKilos"
                    placeholder="Cantidad de producto en kilogramos" required="required" />

                <label for="">Categoría</label>
                <select  name="categoria" [(ngModel)]="seleccionado" (ngModelChange)="guardarCategoria()">
                    <option  [value]="item.name" *ngFor="let item of categories">{{item.name}}</option>
                </select>

                <label for="">Variedad</label>
                <input type="text" [(ngModel)]="producto.references.name" name="variedad" placeholder="Variedad" required="required" />

                <label for="">Fecha de cosecha</label>
                <input type="date" [(ngModel)]="producto.references.entry_date" name="FechaCosecha" placeholder="Fecha de cosecha"
                (change)="fechaCosecha($event)" required="required" />

                <label for="">Fecha de expiración</label>
                <input type="date" [(ngModel)]="producto.references.expiration_date" name="fechaExpiracion"
                (change)="fechaExpiracion($event)" placeholder="Fecha de expiración" required="required" />

                <label for="">Descripción</label>
                <input type="text" [(ngModel)]="producto.description" name="descripcion" placeholder="Descripcion"
                    required="required" />

                <label for="">Imágenes del producto</label>
                <input type="file"  multiple>

                <div class="row align-items-start">
                    <div class="col">
                        <button type="submit" (click)="agregarProducto()">Añadir</button>
                    </div>
                    <div class="col">
                        <button type="submit" (click)="cancelar()">Cancelar</button>
                    </div>
                </div>


            </div>


            <div class="col">
                <h3 class="">Listado de productos</h3>
                <hr>
                <div class="row ">
                    <table *ngIf="farmersProducts.length > 0" class="table table-striped table-warning table-hover table-bordered border-warning mt-4" >
                        <thead class="bg-warning">
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let producto of farmersProducts">
                                <td>{{producto.name}}</td>
                                <td>{{producto.price}}</td>
                                <td>{{producto.quantity}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <p *ngIf="farmersProducts.length == 0">No hay productos añadidos</p>
                </div>
            </div>
        </div>
    </form>


</div>
