<div class="Container border rounded" (click)="IrdetalleProduct()" >
  <div class="card card-Product">
    <div style="" >
      <div class="contenedor-imagen">
        <img src={{resolverRuta(producto.image_url)}} alt="">
      </div>
      <div style="display: inline-block; vertical-align: top">
        <br>
        <div class="Container" >
          <div class="row justify-content-between" >
            <div class="col">
              <h2>{{producto.name|titlecase}}</h2>
              <h1>{{producto.price||"0"|currency}}</h1>
              <h5 style="position: relative;top: 10vh;">cantidad disponible: {{producto.quantity}}</h5>
            </div>
            <div class="col button-Comprar" >
              <button (click)="detalles()" class="btn btn-lg btn-success" mat-stroked-button color="warn" style="text-align: center;" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag"
                  viewBox="0 0 16 16">
                  <path
                    d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                </svg>
                <h4>Comprar</h4>
              </button>
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>

  <br>
</div>
